Package: com.constanze.alexandra
Name: AlexandraUI
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome framework of some sort!!
Maintainer: Constanze Amalie
Author: Constanze Amalie
Section: System
Tag: role::developer
