Package: com.constanze.example
Name: MFExampleModule
Version: 0.0.1
Architecture: iphoneos-arm
Description: An Example Mae Module
Maintainer: Constanze
Author: Constanze
Section: System
Tag: role::developer
