Package: com.constanze.mae
Name: Mae
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: ConstanzeDev
Author: ConstanzeDev
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
Version: 0.0.1-19+debug
Installed-Size: 564
